POSTGRES_DB=bricky
POSTGRES_USER=bricky
POSTGRES_PASSWORD=bricky_dev_password
LOCAL_UID=1000
LOCAL_GID=1000
LDRAW_LIBRARY_ROOT=/data/ldraw/official
LDRAW_LIBRARY_URL=https://library.ldraw.org/library/updates/complete.zip
MODEL_STORAGE_ROOT=/data/models
MODEL_MAX_UPLOAD_BYTES=26214400
